h3{
    text-decoration: underline;
    border: 1px solid rgb(206, 206, 206);
    padding: 25px;
    box-shadow: 1px 2px 30px rgb(206, 206, 206);
}
h6{
    text-align: center;
    margin-top: 15px;
}
.card-body{
    text-align:center;
}
.card{
    box-shadow: 1px 2px 30px rgb(206, 206, 206);
    padding: 25px;
}
.homeTitle{
    margin-top: 20vh;
    background-color: orange;
    padding: 150px;
    border-radius: 50px;
    text-align: center;
}
.pagination{
    justify-content: center;
}